<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моя страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../dist/css/styles.css">
<!--    <link rel="stylesheet" href="../../obj/css/bar/simple.css">-->
</head>
<body>
<div class="vaka">
    <div class="mhard"></div>
    <div class="mpad">Разрушительное ранчо</div>
</div>
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-8 col-xs-12 bl">Колонка 1</div>-->
<!--            <div class="col-2 col-xs-12 bl">Колонка 2</div>-->
<!--            <div class="col-2 col-xs-12 bl">Колонка 3</div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div id="md" class="col">СТРОКА</div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-2 bl">Колонка 4</div>-->
<!--            <div class="col-2 bl">Колонка 5</div>-->
<!--            <div class="col-8 bl">Колонка 6</div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 bl">Колонка 7</div>-->
<!--            <div class="col-4 bl">Колонка 8</div>-->
<!--            <div class="col-4 bl">Колонка 9</div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>