@use '../base/mixins'as mxn;
@use '../base/vars'as vr;

.mhard {
  color:#1a1e21;
  background-color: #0f3e8a;
  @include mxn.edge-decorator(10, 3px, solid 122px)
}

.mcolored-block {
  color: vr.$mdark-blue-color;
}