@use '../base/vars' as *;

// Пример интерполяции - с помощью #{} можно использовать значения переменных в кусках кода
// не предназначенных изначально под значения переменных
.mpad {
  @each $size in $padsides {
    padding-#{$size} : 10px;
  }

  text-align: center;

  background-color: navajowhite;
  border-radius: 4px;
  &:hover {
    background-color: #6c757d;
  }
}