@use '../base/mixins' as mx;

//Пример использования простейшей примеси (mixin)
.mbar {
  @include mx.full-width-flex;
}

//Пример использования и простейшей примеси и примеси с аргументами
.mbar2 {
  @include mx.full-width-flex;
  @include mx.edge-decorator(0.5, 3px);  // здесь будет выставлен border-style по умолчанию
}

.mbar3 {
  @include mx.full-width-flex;
  @include mx.edge-decorator(1, 6px, solid 5px);
}

.mbar4 {
  @include mx.full-width-flex;
  //если хотим навязать свой порядок аргументов, нужно их передавать явно указывая имена
  @include mx.edge-decorator($border-radius: 8px, $padding-size: 2,  $border-params: solid 7px);
}

//Применение еще одного вида примеси, я назвал ее блочной.
.mbar5 {
  @include mx.block-mixin {
    color: black;
    font-size: 1em;
  }
}

.mmbar {
  width:95%;
  @include mx.one-mscreen {
    width: 100%;
  }
  @include mx.two-mscreen {
    width: 55%;
  }
}

.bl {
  background-color: lightblue;
  padding: 13px;
}

.vaka {
  text-align: center;
}