@import 'vars';

//Пример определения простейшей примеси (mixin)
@mixin full-width-flex {
  width: 100%;
  display: flex;
}

//Пример определения примеси с аргументами, для аргумента border-style указано значение по умолчанию
@mixin edge-decorator($padding-size, $border-radius, $border-params: solid 2px) {
  // Сложная подстановка переменной
  // чтобы эта подстановка работала в склейке с другим куском, надо использовать скобки
  // в противном случае sass пытался бы использовать переменную $border-radiusem - которой нет
  margin-top: #{$padding-size}em;

  //простая подстановка переменной
  border-radius: $border-radius;
  border: $border-params;
}

// Еще одна форма примеси, назовую ее блочной
@mixin block-mixin {
  margin: 0;
  padding: 0;
  @content;
}

@mixin one-mscreen {
  @media (min-width: $minscreen) {
    @content;
  }
}

@mixin two-mscreen {
  @media (min-width: 2*$minscreen) {
    @content;
  }
}
