$mdark-blue-color: black;
$mmed-blue-color: #0f3e8a;
$mlight-blue-color: #4686ec;

$page-text-color: $mmed-blue-color;
$page-back-color: $mlight-blue-color;

$minscreen: 240px;

$padsides: (
  top,
  right,
  bottom,
  left
);